html{
  --dark-color: #212121;
  --bright-color: #ccc7b8;
  --temporaly: #a34b4f73;
  --highlight: #ffffff24;
  // --temporaly: transparent;
  height: 100%;
  margin: 0;
  font-family: sans-serif;

  ::selection {
    background-color: var(--bright-color); 
    color: var(--dark-color);
  }
}

body{
  margin: 0;
  height: 100%;
  background: var(--dark-color);
  color: var(--bright-color);
}

.bold{
  font-weight: bold;
}

.section-title{
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.item{
  padding: 5px 0 5px 0;
  border-top: 2px solid var(--bright-color);
  transition: 0.4s;

  &:hover{
    transition: 0.4s;
    // font-size: 17px;
    padding: 9px 0 9px 0;
    background: var(--highlight);
    cursor: default;
  }
}

.info{
  transition: 0.9s;
  border-radius: 3px;
  padding: 3px;

  &:hover{
    transition: 0.9s;
    background: var(--dark-color);
  }
}

.app{

}

.container{
  margin: auto;
  width: 98%;
  // border-radius: 10px;
  padding: 15px;
  overflow: hidden;

  // background-color: var(--temporaly);
}

.snow{
    // &::after{
    //   content: '';
    //   position: absolute;
    //   display: block;
    //   width: 100%;
    //   height: 100px;
    //   bottom: -635px;
    //   background-image: linear-gradient(to bottom, rgba(255,0,0,0),var(--dark-color));
    // }
  }

.header{
  &__box{
    
  }

  &__text{
    text-align: center;
    font-size: 16px;
    color: var(--bright-color);
    user-select: none;
    opacity: 30%;
  }
}

.main{
  position: relative;
  margin-top: 250px;

  &__title{
    position: relative;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    z-index: 3;
  }

  &__list{
    border-top: 4px solid var(--bright-color);
  }

  &__item{
    margin: 0;
    padding: 10px 0 10px 0;
    border-top: 2px solid var(--bright-color);
  }

  &__image-link{
    user-select: none;
  }

  &__image{
    position: absolute;
    z-index: 0;
    width: 400px;
    bottom: 77px;
    opacity: 40%;
    user-select: none;
    transition: 0.6s;

    &:hover{
      transition: 0.6s;
      opacity: 90%;
    }
  }
}

.study{

  &__where{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 0 5px 0;
    border-top: 2px solid var(--bright-color);
  }

  &__item{
    text-align: left;
    width: 300px;
    margin: 0;

    &--year{
      font-size: 20px;
    }
  }
}

.work{
  &__section{
    display: flex;
    justify-content: space-between;

    &--accordion{    
      flex-direction: column;
    }
  }

  &__main-info-sec{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    text-align: left;
    width: 300px;
    margin: 0;

    &--years{
      font-size: 20px;
    }
  }
}

.courses{
  &__section{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    margin: 0;
    width: 300px;
  }
}

.language{
  &__section{
    display: flex;
    flex-direction: column;
    
    &--main{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    &--additional{
      
    }
  }

  &__item{
    margin: 0;
    width: 300px;
    text-align: left;
  }
}

.skills{
  &__section{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item{
    width: auto;
    margin: 0 0 5px 0;
  }
}

.projects{
  &__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 20px;
    height: 35px;
    color: var(--bright-color);
    text-decoration: none;

    &:hover{
      cursor: pointer;
    }
  }

  &__name{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  &__created-date{
    margin-right: 35px;
  }
}

.footer{
  &__contact-sections{
    &:nth-child(2){
      margin-left: 50%;  
    }

    &:nth-child(3){
      margin-left: 30%;
    }
  }

  &__item{
    font-size: 30px;
    text-decoration: none;
    color: var(--bright-color);

    &--telegram{
      font-size: 50px;
      text-transform: uppercase;
    }

    &--phone{
      font-size: 22px;
    }
  }

  &__info-created{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-top: 50px;
  }

  &__info{
    font-size: 13px;
    margin: 0;

    &--author{
      text-decoration: none;
      color: var(--bright-color);
      transition: 0.7s;

      &:hover{
        cursor: pointer;
        transition: 0.3s;
        text-shadow: 0px 1px #c7ad70,
        0px 2px #c79170,
        0px 3px #d15353;
      }
    }
  }
}